<h1>新規投稿</h1>

<% if @list.errors.any? %>
<!-- errorsはモデルにバリデーションをかけたときに発生したエラーを確認できるメソッド -->
<!-- any?と組み合わせることでエラーが発生しているか確認 -->
    <%= @list.errors.count %>件エラーが発生しました
    <ul>
        <% @list.errors.full_messages.each do |message| %>
        <!-- full_messageでエラーの内容を出力できる -->
        <!-- エラー文は配列で保存されているためeachを使う -->
        <li><%= message %></li>
        <% end %>
    </ul>
<% end %>

<%= form_with model:@list, url:'/lists', method: :post, local:true do |f| %>
<!-- modelオプションを追加してListモデルの情報を入れる -->
<!-- List.new→@listと定義することでListモデルの情報を元に新しくオブジェクトが作成される -->
<!-- Listモデルにあるtitle,bodyが格納できるようになる -->
    <h4>タイトル</h4>
    <%= f.text_field :title %>
    <!-- :titleはプロパティ。railsが自動的にtitleカラムと判別してくれて安全にデータベースに保存される -->
    <h4>本文</h4>
    <%= f.text_area :body %>

    <h4>画像</h4>
    <%= f.file_field :image, accept:"image/*" %>
    <!-- accept:"image/*"で投稿できるのを画像のみに絞る -->
    <%= f.submit '投稿' %>
<% end %>
